/*  about us  */
#about{
    margin-top: 80px;
}
#about img,#services img{
    width: 60px;
    height: 60px;
}
/* to contact */
.tocontact{
    padding: 100px 0;
}
.tocontact,.tocontact h2{
    text-align: center;
    color:white;
    background-image: url(./../Images/call_to_action_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.tocontact p{
    font-size: 30px;
}
.tocontact a{font-size: 20px;}
.tocontact a:hover{background-color:transparent;}
/* services */
#services{
    text-align: center;
}
#services .para{
    width: 50%;
    margin: 0 auto;
}
@media (max-width:767px){
    #services p{
        width: 100%;
    }
}
/* video part */
#video{
    background-image:url(./../Images/video-bg.jpg);
    background-size:cover;
    text-align: center;
    padding: 150px 0;
}
#video,#video h2,#video a{
    color:white;
}
.icon-size{
    font-size:45px;
}
@keyframes animateShadow{
    from{
        box-shadow:rgba(96, 138, 151, 0.2) 0 0 0 0px;
    }
    to{
        box-shadow:rgba(96, 138, 151, 0.2) 0 0 10px 30px;
    }
    /* for pullse animation */
    /* from {
        transform: scale3d(1, 1, 1);
      }
    
      50% {
        transform: scale3d(1.05, 1.05, 1.05);
      }
    
      to {
        transform: scale3d(1, 1, 1);
      } */
}
#video a{
    display: block;
    margin:  auto;
    width: 100px;
    height: 100px;
    background-color:rgba(86, 197, 233, 0.3);
    border-radius:50%;
    -webkit-animation: animateShadow 0.5s infinite .5s;
    -moz-animation:animateShadow 0.5s infinite .5s;
    -o-animation: animateShadow 0.5s infinite .5s;
    animation:animateShadow 0.5s infinite .5s;
}
#video i{
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 15px auto;
    padding: 12px 0 0 5px;
    background-color:rgb(86, 197, 233);
    border-radius:50px
}